%form{ :action => "/repo/#{@current_repo_name}", :method => :post }
  %br/
  %h3
    Are you sure you want to delete the following repository?
  %h3
    = @current_repo_name
  %br/
  %input.text#repo_name{ :name => "_method", :value => "delete", :type => "hidden" }
  %button{ :type => :submit }= "yes"

%form{ :action => "/repo/#{@current_repo_name}", :method => :get }
  %button{ :type => :submit }= "no"
  %br/
