%p
  = "Repository Name: #{@current_repo.shagit_name}"
  %br/
  = "size: #{@current_repo.shagit_size}"
  %br/
  = "URI: #{full_path}/#{@current_repo.shagit_foldername}"
#repository_info
  %br/
  %h3
    = "Actions for this repository"
  %form{ :action => "#{@current_repo_name}/optimize", :method => :post }
    %button{ :type => :submit }= "optimize"
  %form{ :action => "#{@current_repo_name}/delete", :method => :post }
    %button{ :type => :submit }= "delete"
  %br/